<?xml version="1.0" encoding="utf-8"?><codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4"><rule id="7f0b35ff-57f5-4049-9441-a5f1a2a95d60" webrule="4.1.8.8" utc="2017-08-10T07:17:08.3440" type="ESPL.BRE.Web.Models.Patient, ESPL.BRE.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false"><name>ExeRule</name><description>ExeRule</description><definition><if><clause><condition type="equal"><rule id="6d8c9450-fd17-4d22-811c-82b7edf4e245" /><value type="System.Boolean">true</value></condition></clause><then><set><property name="LastName" /><value>shelar</value></set></then></if></definition><format><lines /></format></rule></codeeffects>